* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#bigbox {
    height: 100%;
    width: 100%;
    position: relative;
}

.active {
    z-index: -1;
    opacity: 0;
}

.music{
    display: none;
    z-index: 10;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    animation: rotates 1s linear infinite alternate;
    transform: translateX();
}
@keyframes rotates {
    0% {transform: rotate(-60deg);}
    100%{transform: rotate(60deg);}
}
.music1{
    position: absolute;
    z-index: 11;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
}